
:root {
    --color-white:#fff;
    --color-black: #070707;
    --color-blue: #0058bc;
    --color-grey: #5a5a5a;
    --color-grey-2: #d8d8d8;
    --color-dark-grey: #302f2f;
    --color-light-grey: #f0f0f0;
    --color-red: #e70112;
    --color-white: #fff;
    --color-yellow: #ffdf02;
    --color-focus-yellow: #ffd324;
    --mario-red: #e60012;
}
body {
    font-family: "Catamaran", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
}
.btn{
    border-radius: 12px;
    background-color: var(--color-red);
    border: 2px solid var(--color-white);
    color: var(--color-white);
    padding: 1rem 2rem;
    font-size: 1.2rem;
}
.btn-grey,
.btn-disable{
    background-color: var(--color-light-grey);
    color: var(--color-grey);
}
.btn-disable{
    opacity: 0.4;
}
button.icon-click img{
    max-height: 80px;
}
.result-click{
    background-color: var(--color-light-grey);
    padding: 0.5rem 2rem;
    border-radius: 12px;
    font-size: 2rem;

}
h1 {
    font-weight: 700;
}

header>div,
header .navbar,
footer {
    display: flex;
}

header {
    border-radius: 12px;
    padding: 2rem;
    background-image: repeating-linear-gradient(-45deg, #302f2f, #302f2f 6px, #2a2929 0, #2a2929 12px);

}

header>div {
    justify-content: space-between;

}

.navbar {
    list-style: none;
}

.navbar li {
    display: flex;
    align-items: center;
}

.navbar a {
    text-decoration: none;
    color: #fff;
}

.container {
    max-width: 1200px;
    margin: auto;
    width: 100%;
}

main {
    margin-top: 2rem;
}

main>section {
    background-color: #ededed;
    border-radius: 16px;
    padding: 3rem;
}

h1 {
    text-align: center;
    margin-top: 0;
}
.icon-click{
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
}
.itemContainer {
    background-color: #fff;
    border-radius: 16px;
    padding: 2rem;
    opacity: 0;
    animation-name: apparition;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-iteration-count: 1;
}
.item{
    text-align: center;
    min-height: 550px;
}
/* duration | timing-function | delay | iteration-count | direction | fill-mode | play-state | name  */

.flex-container>.itemContainer:first-child {
    animation-delay: 0.6s;
}

.flex-container>.itemContainer:last-child {
    animation-delay: 1s;

}

@keyframes apparition {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }

    to {
        transform: translateY(O);
        opacity: 1;
    }

}

footer {
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

@media screen and (min-width:320px) {
    h1 {
        font-size: 3.5rem;
    }

    h2 {
        font-size: 2.8rem;
    }

    h3 {
        font-size: 3rem;
    }

    .navbar {
        font-size: 1rem;
    }

    .navbar a {
        padding: 0 1rem;

    }

    .itemContainer {
        padding: 2rem;
        flex: 1;
        margin: 1rem;
    }

    .itemContainer img {
        max-height: 200px;
    }

    .logo {
        max-height: 70px;
    }

    footer img {
        max-height: 25px;
    }
}

@media screen and (min-width:768px) {
    .flex-container {
        display: flex;
    }
    .space-between {
        justify-content: space-between;
        align-items: center;
    }
    .itemContainer {
        padding: 2rem;
        margin: 1rem;
    }
    .navbar {
        font-size: 1.2rem;
    }

    .navbar a {
        padding: 0 2rem;
    }

    .logo {
        max-height: 100px;
    }

    footer img {
        max-height: 40px;
    }

}